html {
    height: 100%;
    width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearit {
  clear: both;
}

body {
	background-color: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5rem;
	line-height: 60px;
	-webkit-font-smoothing: antialiased;
	overflow: scroll;
}

.logo {
	display: block;
	width: 200px;
	padding-left: 20px;
	padding-top: 50px;
}

button {
	display: block;
	position: absolute;
	left: 240px;
	top: 41px;
	font-size: 2.8rem;
	color: black;
    line-height: inherit;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline;
}

button:hover {
	color: #f95615;
} 

p {
	width: 675px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
    font-size: 3.5rem;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: -0.2rem;
	color: #f95615;
	display: none;
}

h2 {
	padding-left: 20px;
	letter-spacing: 0.2rem;
}

h3 {
	display: block;
	position: fixed;
	left: 20px;
	bottom: 20px;
}

nav {
	display: block;
	position: fixed;
	width: 250px;
	right: 20px;
	font-size: 2rem;
	line-height: 2rem;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

/*img.musicgif {
	display: block;
    margin: auto;
}*/	

.musictext {
    display: block;
    margin: auto;
    width: 700px;
}


/*
font-family: 'Jomhuria', cursive;
font-family: 'Mirza', cursive;
font-family: 'Rakkas', cursive;
font-family: 'Work Sans', sans-serif;
*/
