html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearit {
  clear: both;
}

body {
	background-color: none;
	padding: 0 24px 96px 24px;
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5rem;
	line-height: 60px;
	-webkit-font-smoothing: antialiased;
	position: fixed;
	overflow: hidden;
}

.logo {
	display: block;
	width: 200px;
	padding-left: 20px;
	padding-top: 50px;
}

button {
	display: block;
	position: absolute;
	left: 235px;
	top: 32px;
	font-size: 3rem;
    line-height: inherit;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline;
}

p {
	width: 675px;
	margin: 0px;
	padding: 20px;
    font-size: 3.5rem;
	font-family: 'Work Sans', sans-serif;
	font-weight: bolder;
	letter-spacing: -0.2rem;
	color: black;
}

nav {
	display: block;
	position: fixed;
	width: 500px;
	top: 20px;
	right: -100px;
	font-size: 2rem;
	font-weight: bolder;
	line-height: 2rem;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}


/*
font-family: 'Jomhuria', cursive;
font-family: 'Mirza', cursive;
font-family: 'Rakkas', cursive;
font-family: 'Work Sans', sans-serif;
*/
