

.blockelm {
  background-color: #ED3689;
  border: 2px dashed #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
}

.inlineelm {
  color: blue;
  font-weight: bold;
  display: block;
  width: 200px;
}


