body {
    background-color: #F9F999;
}

h1 {
    color: RGBA(255, 50, 50, .9);
}

ul {
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

ol {
    border-width: 5px;
    border-color: HSL(240, 50%, 50%);
    border-style: dotted;
}

h2 {
    font-style: italic;
}

