
/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

#boxes {
  position: absolute;
  top: 0px;
  left: 0px;
}

#boxes > article {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 30%;
}

#boxes > article:nth-child(1) {
  background-color: #FF0000;
  width: 100px;
  height: 100px;
  z-index: 20;
}

#boxes > article:nth-child(2) {
  background-color: #FF8000;
  width: 200px;
  height: 200px;
  z-index: 19;
}

#boxes > article:nth-child(3) {
  background-color: #FFFF00;
  width: 300px;
  height: 300px;
  z-index: 18;
}

#boxes > article:nth-child(4) {
  background-color: #008000;
  width: 400px;
  height: 400px;
  z-index: 17;
}

#boxes > article:nth-child(5) {
  background-color: #0000FF;
  width: 500px;
  height: 500px;
  z-index: 16;
}

#boxes > article:nth-child(6) {
  background-color: #4B0082;
  width: 600px;
  height: 600px;
  z-index: 15;
}

#boxes > article:nth-child(7) {
  background-color: #EE82EE;
  width: 700px;
  height: 700px;
  z-index: 14;
}

