
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-image: radial-gradient(circle, #C0C0C0, #A9A9A9, #808080, #696969);
  background-attachment: fixed;
}

#text {
  font-family: 'Work Sans', sans-serif;
  color: RGBA(0, 0, 0, .1);
  text-align: justify;
  letter-spacing: .1rem;
  font-size: 2rem;
  position: fixed;
  line-height: 3rem;
}

#instructions {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  position: fixed;
  top: 20px;
  right: 80px;
}

#grid {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
}

#grid .box {
  width: 50%;
  height: 50%;
  border: 1px solid #000000;
  float: left;
  transform: rotate(45deg);
  background-color: RGBA(0, 0, 0, .3);
}

.clearit {
  clear: both;
}