
/* These two rules are the box model reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* Set some rules here */
div#container {
    background-color: #F74799;
    width: 300px;
    margin: 60px;
    padding: 80px;
    border: 10px solid #000000;
}

div#inner {
    background-color: #00FF00;
    border: 4px solid #000000;
}

