
/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

#outerbox {
  background-color: #000000;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#outerbox > .step {
  position: absolute;
  width: 150px;
  height: 150px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 150px;
}

#outerbox > .step:nth-child(1) {
  top: 0px;
  left: 0px;
  background-color: #FF0000;
}

#outerbox > .step:nth-child(2) {
  top: 150px;
  left: 150px;
  background-color: #00FF00;
}

#outerbox > .step:nth-child(3) {
  bottom: 150px;
  right: 150px;
  background-color: #0000FF;
}

#outerbox > .step:nth-child(4) {
  bottom: 0px;
  right: 0px;
  background-color: #FFFF00;
}

