
section#mycontent > article {
  float: left;
  width: 200px;
  border: 2px solid #0088FF;
  background-color: #FFFF00;
  margin-right: 50px;
}

p#othertext {
    font-family: helvetica;
    padding-top: 20px;
}

.clearit {
	clear: both;
}





